/* ==========================================================================
// Base – Code
========================================================================== */
code, kbd, pre, samp {
  @mixin font-size var(--base-code-font-size);
  @mixin line-height var(--base-code-line-height);
  word-wrap: break-word;
  font-family: var(--base-code-font-family);
  color: var(--base-code-color);
  background-color: var(--base-code-background-color);
  font-weight: normal;
  padding: 5px;
  white-space: pre-wrap;
}
pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid var(--base-code-border-color);
}