/* ==========================================================================
// Base – Mobile-First Grid
========================================================================== */

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before, .clear:after { content: " "; display: table; } .clear:after { clear: both; }
.row:before, .row:after { content: ""; display: table; } .row:after { clear: both; }

.row {
  position: relative;
  margin-left: -var(--grid-gutter);
  margin-right: -var(--grid-gutter);
}

/* Mobile Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-full {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* Tablet Container */
@media (--viewport-tablet) {
  .container, .container-full { width: var(--container-tablet); }
  .container-tablet {
    width: var(--container-tablet);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-tablet {
    width: var(--container-tablet);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Desktop Container */
@media (--viewport-desktop) {
  .container, .container-full { width: var(--container-desktop); }
  .container-desktop {
    width: var(--container-desktop);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-desktop {
    width: var(--container-desktop);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
/* HD Container */
@media (--viewport-hd) {
  .container, .container-full { width: var(--container-hd); }
  .container-hd {
    width: var(--container-hd);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-hd {
    width: var(--container-hd);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Mobile-first Grid Columns - Global Rules */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  position: relative;
  float: left;
}

/* Grid */
.col-1 { width: calc(1 / 12 * 100%); }
.col-2 { width: calc(2 / 12 * 100%); }
.col-3 { width: calc(3 / 12 * 100%); }
.col-4 { width: calc(4 / 12 * 100%); }
.col-5 { width: calc(5 / 12 * 100%); }
.col-6 { width: calc(6 / 12 * 100%); }
.col-7 { width: calc(7 / 12 * 100%); }
.col-8 { width: calc(8 / 12 * 100%); }
.col-9 { width: calc(9 / 12 * 100%); }
.col-10 { width: calc(10 / 12 * 100%); }
.col-11 { width: calc(11 / 12 * 100%); }
.col-12 { width: calc(12 / 12 * 100%); }

/* Push Offsets */
.push-1 { left: calc(1 / 12 * 100%); }
.push-2 { left: calc(2 / 12 * 100%); }
.push-3 { left: calc(3 / 12 * 100%); }
.push-4 { left: calc(4 / 12 * 100%); }
.push-5 { left: calc(5 / 12 * 100%); }
.push-6 { left: calc(6 / 12 * 100%); }
.push-7 { left: calc(7 / 12 * 100%); }
.push-8 { left: calc(8 / 12 * 100%); }
.push-9 { left: calc(9 / 12 * 100%); }
.push-10 { left: calc(10 / 12 * 100%); }
.push-11 { left: calc(11 / 12 * 100%); }

/* Pull Offsets */
.pull-1 { left: -calc(1 / 12 * 100%); }
.pull-2 { left: -calc(2 / 12 * 100%); }
.pull-3 { left: -calc(3 / 12 * 100%); }
.pull-4 { left: -calc(4 / 12 * 100%); }
.pull-5 { left: -calc(5 / 12 * 100%); }
.pull-6 { left: -calc(6 / 12 * 100%); }
.pull-7 { left: -calc(7 / 12 * 100%); }
.pull-8 { left: -calc(8 / 12 * 100%); }
.pull-9 { left: -calc(9 / 12 * 100%); }
.pull-10 { left: -calc(10 / 12 * 100%); }
.pull-11 { left: -calc(11 / 12 * 100%); }

/* Tablet Grid */
@media (--viewport-tablet) {
  
  /* Tablet Grid Columns - Global Rules */
  .col-1-tablet,
  .col-2-tablet,
  .col-3-tablet,
  .col-4-tablet,
  .col-5-tablet,
  .col-6-tablet,
  .col-7-tablet,
  .col-8-tablet,
  .col-9-tablet,
  .col-10-tablet,
  .col-11-tablet,
  .col-12-tablet {
    padding-left: var(--grid-gutter-tablet);
    padding-right: var(--grid-gutter-tablet);
    position: relative;
    float: left;
  }

  /* Tablet Grid */
  .col-1-tablet { width: calc(1 / 12 * 100%); }
  .col-2-tablet { width: calc(2 / 12 * 100%); }
  .col-3-tablet { width: calc(3 / 12 * 100%); }
  .col-4-tablet { width: calc(4 / 12 * 100%); }
  .col-5-tablet { width: calc(5 / 12 * 100%); }
  .col-6-tablet { width: calc(6 / 12 * 100%); }
  .col-7-tablet { width: calc(7 / 12 * 100%); }
  .col-8-tablet { width: calc(8 / 12 * 100%); }
  .col-9-tablet { width: calc(9 / 12 * 100%); }
  .col-10-tablet { width: calc(10 / 12 * 100%); }
  .col-11-tablet { width: calc(11 / 12 * 100%); }
  .col-12-tablet { width: calc(12 / 12 * 100%); }

  /* Tablet Push Offsets */
  .push-1-tablet { left: calc(1 / 12 * 100%); }
  .push-2-tablet { left: calc(2 / 12 * 100%); }
  .push-3-tablet { left: calc(3 / 12 * 100%); }
  .push-4-tablet { left: calc(4 / 12 * 100%); }
  .push-5-tablet { left: calc(5 / 12 * 100%); }
  .push-6-tablet { left: calc(6 / 12 * 100%); }
  .push-7-tablet { left: calc(7 / 12 * 100%); }
  .push-8-tablet { left: calc(8 / 12 * 100%); }
  .push-9-tablet { left: calc(9 / 12 * 100%); }
  .push-10-tablet { left: calc(10 / 12 * 100%); }
  .push-11-tablet { left: calc(11 / 12 * 100%); }

  /* Tablet Pull Offsets */
  .pull-1-tablet { left: -calc(1 / 12 * 100%); }
  .pull-2-tablet { left: -calc(2 / 12 * 100%); }
  .pull-3-tablet { left: -calc(3 / 12 * 100%); }
  .pull-4-tablet { left: -calc(4 / 12 * 100%); }
  .pull-5-tablet { left: -calc(5 / 12 * 100%); }
  .pull-6-tablet { left: -calc(6 / 12 * 100%); }
  .pull-7-tablet { left: -calc(7 / 12 * 100%); }
  .pull-8-tablet { left: -calc(8 / 12 * 100%); }
  .pull-9-tablet { left: -calc(9 / 12 * 100%); }
  .pull-10-tablet { left: -calc(10 / 12 * 100%); }
  .pull-11-tablet { left: -calc(11 / 12 * 100%); }
}

/* Desktop Grid */
@media (--viewport-desktop) {
  
  /* Desktop Grid Columns - Global Rules */
  .col-1-desktop,
  .col-2-desktop,
  .col-3-desktop,
  .col-4-desktop,
  .col-5-desktop,
  .col-6-desktop,
  .col-7-desktop,
  .col-8-desktop,
  .col-9-desktop,
  .col-10-desktop,
  .col-11-desktop,
  .col-12-desktop {
    padding-left: var(--grid-gutter-desktop);
    padding-right: var(--grid-gutter-desktop);
    position: relative;
    float: left;
  }

  /* Desktop Grid */
  .col-1-desktop { width: calc(1 / 12 * 100%); }
  .col-2-desktop { width: calc(2 / 12 * 100%); }
  .col-3-desktop { width: calc(3 / 12 * 100%); }
  .col-4-desktop { width: calc(4 / 12 * 100%); }
  .col-5-desktop { width: calc(5 / 12 * 100%); }
  .col-6-desktop { width: calc(6 / 12 * 100%); }
  .col-7-desktop { width: calc(7 / 12 * 100%); }
  .col-8-desktop { width: calc(8 / 12 * 100%); }
  .col-9-desktop { width: calc(9 / 12 * 100%); }
  .col-10-desktop { width: calc(10 / 12 * 100%); }
  .col-11-desktop { width: calc(11 / 12 * 100%); }
  .col-12-desktop { width: calc(12 / 12 * 100%); }

  /* Desktop Push Offsets */
  .push-1-desktop { left: calc(1 / 12 * 100%); }
  .push-2-desktop { left: calc(2 / 12 * 100%); }
  .push-3-desktop { left: calc(3 / 12 * 100%); }
  .push-4-desktop { left: calc(4 / 12 * 100%); }
  .push-5-desktop { left: calc(5 / 12 * 100%); }
  .push-6-desktop { left: calc(6 / 12 * 100%); }
  .push-7-desktop { left: calc(7 / 12 * 100%); }
  .push-8-desktop { left: calc(8 / 12 * 100%); }
  .push-9-desktop { left: calc(9 / 12 * 100%); }
  .push-10-desktop { left: calc(10 / 12 * 100%); }
  .push-11-desktop { left: calc(11 / 12 * 100%); }

  /* Desktop Pull Offsets */
  .pull-1-desktop { left: -calc(1 / 12 * 100%); }
  .pull-2-desktop { left: -calc(2 / 12 * 100%); }
  .pull-3-desktop { left: -calc(3 / 12 * 100%); }
  .pull-4-desktop { left: -calc(4 / 12 * 100%); }
  .pull-5-desktop { left: -calc(5 / 12 * 100%); }
  .pull-6-desktop { left: -calc(6 / 12 * 100%); }
  .pull-7-desktop { left: -calc(7 / 12 * 100%); }
  .pull-8-desktop { left: -calc(8 / 12 * 100%); }
  .pull-9-desktop { left: -calc(9 / 12 * 100%); }
  .pull-10-desktop { left: -calc(10 / 12 * 100%); }
  .pull-11-desktop { left: -calc(11 / 12 * 100%); }
}

/* HD Grid */
@media (--viewport-hd) {
  
  /* HD Grid Columns - Global Rules */
  .col-1-hd,
  .col-2-hd,
  .col-3-hd,
  .col-4-hd,
  .col-5-hd,
  .col-6-hd,
  .col-7-hd,
  .col-8-hd,
  .col-9-hd,
  .col-10-hd,
  .col-11-hd,
  .col-12-hd {
    padding-left: var(--grid-gutter-hd);
    padding-right: var(--grid-gutter-hd);
    position: relative;
    float: left;
  }

  /* HD Grid */
  .col-1-hd { width: calc(1 / 12 * 100%); }
  .col-2-hd { width: calc(2 / 12 * 100%); }
  .col-3-hd { width: calc(3 / 12 * 100%); }
  .col-4-hd { width: calc(4 / 12 * 100%); }
  .col-5-hd { width: calc(5 / 12 * 100%); }
  .col-6-hd { width: calc(6 / 12 * 100%); }
  .col-7-hd { width: calc(7 / 12 * 100%); }
  .col-8-hd { width: calc(8 / 12 * 100%); }
  .col-9-hd { width: calc(9 / 12 * 100%); }
  .col-10-hd { width: calc(10 / 12 * 100%); }
  .col-11-hd { width: calc(11 / 12 * 100%); }
  .col-12-hd { width: calc(12 / 12 * 100%); }

  /* HD Push Offsets */
  .push-1-hd { left: calc(1 / 12 * 100%); }
  .push-2-hd { left: calc(2 / 12 * 100%); }
  .push-3-hd { left: calc(3 / 12 * 100%); }
  .push-4-hd { left: calc(4 / 12 * 100%); }
  .push-5-hd { left: calc(5 / 12 * 100%); }
  .push-6-hd { left: calc(6 / 12 * 100%); }
  .push-7-hd { left: calc(7 / 12 * 100%); }
  .push-8-hd { left: calc(8 / 12 * 100%); }
  .push-9-hd { left: calc(9 / 12 * 100%); }
  .push-10-hd { left: calc(10 / 12 * 100%); }
  .push-11-hd { left: calc(11 / 12 * 100%); }

  /* HD Pull Offsets */
  .pull-1-hd { left: -calc(1 / 12 * 100%); }
  .pull-2-hd { left: -calc(2 / 12 * 100%); }
  .pull-3-hd { left: -calc(3 / 12 * 100%); }
  .pull-4-hd { left: -calc(4 / 12 * 100%); }
  .pull-5-hd { left: -calc(5 / 12 * 100%); }
  .pull-6-hd { left: -calc(6 / 12 * 100%); }
  .pull-7-hd { left: -calc(7 / 12 * 100%); }
  .pull-8-hd { left: -calc(8 / 12 * 100%); }
  .pull-9-hd { left: -calc(9 / 12 * 100%); }
  .pull-10-hd { left: -calc(10 / 12 * 100%); }
  .pull-11-hd { left: -calc(11 / 12 * 100%); }
}