/* ==========================================================================
// Base – Lists
========================================================================== */
ul, ol {
  margin: 1em 0 2em 0;
  padding: 0 0 0 40px;
}
ul li, ol li { margin-bottom: 5px; }
dl:before, dl:after { content: " "; display: table; } dl:after { clear: both; }
dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: var(--font-400);
}
dl dd {
  overflow: hidden;
  display: block;
}