/* ==========================================================================
// Base – Mixins
========================================================================== */
/* Font sizes (primary sizing in `rem` units with a fallback of `px`)
   Example usage .font-size(18); */
@define-mixin font-size $size {
  $remValue: resolve($size / 16);
  $pxValue: ($size);
  font-size: $(pxValue)px; 
  font-size: $(remValue)rem;
}

/* Line height sizes (primary sizing in `rem` units with a fallback of `px`)
   Example usage .line-height(22); */
@define-mixin line-height $size {
  $remValue: resolve($size / 16);
  $pxValue: ($size);
  line-height: $(pxValue)px; 
  line-height: $(remValue)rem;
}

/* Rotate (Transformation)
   Example usage .rotate(180) || .rotate(-45); */
@define-mixin rotate $rotate {
  -ms-transform: rotate($(rotate)deg);
  -webkit-transform: rotate($(rotate)deg);
  transform: rotate($(rotate)deg);
}

/* SVG background with PNG fallback
Example Usage .svg-bg("img/banner.svg", "img/banner.png", 50%, 50%, no-repeat); */
@define-mixin bg-svg $svg, $png, $x: 0, $y: 0, $repeat: no-repeat {
  background: url($svg) $x $y $repeat;
  .no-svg & {
    background: url($png) $x $y $repeat;
  }
}

/* Background Color with Opacity
   Example Usage: .bg-rgba(#111, 50%); */
@define-mixin bg-rgba $color,$alpha {
  $rgba: rgba(red($color), green($color), blue($color), $alpha);
  $argb: argb($rgba);
  background-color: $color;
  background-color: $rgba;
}

/* Animations
   Example Usage .animation(1s); */
@define-mixin animate $duration: 1s {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Animation Delay
   Example Usage .animation-delay(1s); */
@define-mixin animate-delay $delay: 1s {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

/* Not enough mixins? – Please make some suggestions or contribute more! :) */