// ==========================================================================
// Base – Variables
// ==========================================================================

// Global Typography
$base-background-color:                         #fff !default;
$base-font-family:                              sans-serif !default;
$base-font-size:                                16 !default;
$base-line-height:                              22 !default;
$base-font-weight:                              400 !default;
$base-font-color:                               #585858 !default;
$base-link-color:                               #cd5c5c !default;

// Font Weights
$font-100:                                      100 !default;
$font-200:                                      200 !default;
$font-300:                                      300 !default;
$font-400:                                      400 !default;
$font-500:                                      500 !default;
$font-600:                                      600 !default;
$font-700:                                      700 !default;
$font-800:                                      800 !default;
$font-900:                                      900 !default;

// Headings
$heading-font-family:                           sans-serif !default;
$h1-font-size:                                  32 !default;
$h1-line-height:                                38 !default;
$h1-font-weight:                                $font-400 !default;
$h1-color:                                      #343434 !default;
$h2-font-size:                                  26 !default;
$h2-line-height:                                32 !default;
$h2-font-weight:                                $font-400 !default;
$h2-color:                                      #343434 !default;
$h3-font-size:                                  22 !default;
$h3-line-height:                                28 !default;
$h3-font-weight:                                $font-400 !default;
$h3-color:                                      #343434 !default;
$h4-font-size:                                  18 !default;
$h4-line-height:                                24 !default;
$h4-font-weight:                                $font-400 !default;
$h4-color:                                      #343434 !default;
$h5-font-size:                                  16 !default;
$h5-line-height:                                22 !default;
$h5-font-weight:                                $font-400 !default;
$h5-color:                                      #343434 !default;
$h6-font-size:                                  14 !default;
$h6-line-height:                                20 !default;
$h6-font-weight:                                $font-400 !default;
$h6-color:                                      #343434 !default;

// Blockquotes
$base-blockquote-font-family:                   sans-serif !default;
$base-blockquote-font-size:                     22 !default;
$base-blockquote-line-height:                   28 !default;
$base-blockquote-color:                         #424242 !default;
$base-blockquote-cite-color:                    #777 !default;

// Code
$base-code-font-family:                         monospace, monospace !default;
$base-code-font-size:                           13 !default;
$base-code-line-height:                         18 !default;
$base-code-color:                               #272727 !default;
$base-code-background-color:                    #f1f1f1 !default;
$base-code-border-color:                        #d7d7d7 !default;

// Forms
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-color:                              #222 !default;
$base-input-background-color:                   #fff !default;
$base-input-background-color-focus:             #fff !default;
$base-input-border-color:                       #ccc !default;
$base-input-border-color-focus:                 #f7c723 !default;

// Grid Containers
$container-s:                                   100% !default;
$container-m:                                   720px !default;
$container-l:                                   960px !default;
$container-xl:                                  1120px !default;

// Grid Gutters
$grid-gutter:                                   15px !default;
$grid-gutter-m:                                 15px !default;
$grid-gutter-l:                                 15px !default;
$grid-gutter-xl:                                15px !default;

// Responsive Breakpoints
$breakpoint-m:                                  ($container-m + 20) !default;
$breakpoint-l:                                  ($container-l + 20) !default;
$breakpoint-xl:                                 ($container-xl + 20) !default;